<h1>Test</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ entity.Nom }}</td>
        </tr>
        <tr>
            <th>Duree</th>
            <td>{{ entity.Duree }}</td>
        </tr>
        <tr>
            <th>Nbr_questions</th>
            <td>{{ entity.Nbrquestions }}</td>
        </tr>
        <tr>
            <th>Duree_max_question</th>
            <td>{{ entity.Dureemaxquestion }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.Description }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('Test') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('Test_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('Test_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
