{% extends "racineGestionUtilisateurBundle:Templates:layout.html.twig" %}

{%block head %} parent(){% endblock %}
{% block header %}
 {{parent()}}
 <title>Lister Utilisateur</title>
    
{% endblock %}

{% block body %}
 {{parent()}}
<div id="content">
        <div class="tab_content" id="Utilisateurs"  >
   <!--ici le contenu du tab fournisseurs--> 
        <div class="element-box"> 
        <h1>Utilisateurs</h1>
                     <p>Cette table affiche tous les Utilisateurs du systeme </p>
                     <br />     
        </div>
        
		<div id="rqStatusFO"></div>
      
         <table cellpadding="0" cellspacing="0" border="0" class="display" id="DTutilisateurs">
	<thead><tr>
			<th>Id_utilisateur</th>
			<th>Pseudo</th>
                        <th>Nom </th>
			<th>Prenom </th>
			<th>Email</th>
			<th>Tel</th>
                        
                        
                        
		</tr>
	</thead>
	<tbody>
		</table>
                
                <div id="addBox" class="wizard-box modal-box"> 
                   <form id="addarticlesform" method="POST">

                        <fieldset class="sectionwrap">
                              <legend>Ajouter Utilisateurs</legend>
                             <p><i>Entrez les identifiants du nouveau utilisateur , puis procédez aux étapes suivantes.( tous les champs sont obligatoires)</i></p>
                               <div id="opBox">			
                               <div class="form-row">
                               <samp>Username :</samp>
                               <input type="text" class="input-text medium a" name="addPseudo" /> 
                               </div></br>
                               <div class="form-row">
                               <samp>Mot de passe :</samp>
                               <input type="password" class="input-text medium a" name="addPassword" /> 
                               </div></br>
                               <div class="form-row">
                               <samp>Confirmer Mot de passe :</samp>
                               <input type="password" class="input-text medium a" name="cPassword" /> 
                               </div></br>
                               </div>
                       </fieldset>
                       
                       <fieldset class="sectionwrap">
                          <legend>Informations personnelles</legend>
                          <p><i>Entrez les informations correspondant au nouveau utilisateur.</i></p>
                       <div id="opBox">
                        <div class="form-row">
                        <samp>Nom</samp>
                        <input type="text" class="input-text medium a" name="addNom" /> 
                        </div></br>
                        <div class="form-row">
                        <samp>Prénom</samp>
                        <input type="text" class="input-text medium a" name="addPrenom" /> 
                        </div></br>
                        <div class="form-row">
                        <samp>Email</samp>
                        <input type="text" class="input-text medium a" name="addEmail" /> 
                        </div></br>
                        <div class="form-row">
                        <samp>Tel</samp>
                        <input type="text" class="input-text small a" name="addTel" /> 
                        </div></br>
                       </div>
                        </fieldset>
                       
                       <fieldset class="sectionwrap">
                          <legend>Attacher à un Rôle</legend>
                          <p><i>Sélectionner le Role que vous souhaitez attribuer à l'utilisateur puis procédez à la finalisation</i></p>
                        
                        <div id="teable">
				<table cellpadding="0" cellspacing="0" border="0" class="display" id="DTrolef">
				  <thead>
                                     <tr>
				     <th>ID groupe</th>
				     <th>Nom groupe</th>
				     <th>Role</th>
			             </tr>
                                  </thead>
				    <tbody>
				</table>
			</div>
                      </fieldset>
                     <fieldset class="sectionwrap">
                          <legend>Validation</legend>
                             <p><i>Vérifier que les informations que vous avez choisi sont correctes.</i></p>
                         <div class="form-row">
                         <samp>Username :</samp>
                               <input type="text" class="input-text medium a" name="addPseudoV" disabled="disabled" /> 
                               </div></br>
                        <div class="form-row">     
                          <samp>Nom</samp>
                        <input type="text" class="input-text medium a" name="addNomV" disabled="disabled" /> 
                        </div></br>
                      
                       <div class="form-row">
                        <samp>Prénom</samp>
                        <input type="text" class="input-text medium a" name="addPrenomV"  disabled="disabled"/> 
                        </div></br>
                        <div class="form-row">
                        <samp>Email</samp>
                        <input type="text" class="input-text medium a" name="addEmailV" disabled="disabled"/> 
                        </div></br>
                        <div class="form-row">
                        <samp>Tel</samp>
                        <input type="text" class="input-text small a" name="addTelV" disabled="disabled" /> 
                        </div></br>
              
                       <div class="form-row">
                        
                        <input type="button" id="addUser" class="button green-button" name="addUserform"  value="Ajouter" /> 
                        </div></br>
                        
                      </fieldset>  
                        
                        </form>
                
                
                </div>
                
                 <div id="modBox" class="wizard-box modal-box"> 
                   <form id="modusersform" method="POST">

                        <fieldset class="sectionwrap">
                              <legend>Modifier Utilisateurs</legend>
                             <p><i>Entrez les identifiants du nouveau utilisateur , puis procédez aux étapes suivantes.( tous les champs sont obligatoires)</i></p>
                               <div id="opBox">			
                               <div class="form-row">
                               <samp>Username :</samp>
                               <input type="text" class="input-text medium a" name="modPseudo"  disabled/> 
                               </div></br>
                               <div class="form-row">
                               <samp>Nouveau mot de passe :</samp>
                               <input type="password" class="input-text medium a" name="modPassword" /> 
                               </div></br>
                               <div class="form-row">
                               <samp>Confirmer Mot de passe :</samp>
                               <input type="password" class="input-text medium a" name="mcPassword" /> 
                               </div></br>
                               </div>
                       </fieldset>
                       
                       <fieldset class="sectionwrap">
                          <legend>Informations personnelles</legend>
                          <p><i>Entrez les informations correspondant au nouveau utilisateur.</i></p>
                       <div id="opBox">
                        <div class="form-row">
                        <samp>Nom</samp>
                        <input type="text" class="input-text medium a" name="modNom" /> 
                       
                         <samp>Prénom</samp>
                        <input type="text" class="input-text medium a" name="modPrenom" /> </br>
                         </div>
                        <div class="form-row">
                        <samp>Email</samp>
                        <input type="text" class="input-text medium a" name="modEmail" /> 
                        </div></br>
                        <div class="form-row">
                        <samp>Tel</samp>
                        <input type="text" class="input-text small a" name="modTel" /> 
                        </div></br>
                       </div>
                        </fieldset>
                       
                      
                     <fieldset class="sectionwrap">
                          <legend>Validation</legend>
                             <p><i>Vérifier que les informations que vous avez choisi sont correctes.</i></p>
                         <div class="form-row">
                         <samp>Username :</samp>
                               <input type="text" class="input-text medium a" name="modPseudoV" disabled="disabled" /> 
                               </div></br>
                        <div class="form-row">     
                          <samp>Nom</samp>
                        <input type="text" class="input-text  small a" name="modNomV" disabled="disabled" /> 
                        
                        <samp>Prénom</samp>
                        <input type="text" class="input-text small a" name="modPrenomV"  disabled="disabled"/> 
                        </div></br>
                        <div class="form-row">
                        <samp>Email</samp>
                        <input type="text" class="input-text small a" name="modEmailV" disabled="disabled"/> 
                        </div></br>
                        <div class="form-row">
                        <samp>Tel</samp>
                        <input type="text" class="input-text small a" name="modTelV" disabled="disabled" /> 
                        </div></br>
                        
                       <div class="form-row">
                        
                        <input type="button" id="modUser" class="button green-button" name="modUserform"  value="Modifier" /> 
                        </div></br>
                        
                      </fieldset>  
                        
                        
                
                
                </div>
		
<script type="text/javascript">
			$(document).ready(function(){
				// "sDom": '<"H"Tfr>l<"clear">t<"F"ip>',
				//"sDom": 'T<"clear">lfrtip',
				
			   var myTable = $('#DTutilisateurs').dataTable({
			    	          
			    	          "sDom": '<"TT" T><"clear"><"H"lfr>t<"F"ip>',
			    	          "bProcessing": true,
							  "sAjaxSource": "{{ path('Admin_liste_Utilisateur') }}",
							  "bJQueryUI": true,
							  "sPaginationType": "full_numbers",
							  "oTableTools": {
        									    "sSwfPath": "{{ asset('bundles/racinegestionutilisateur/js/swf/copy_csv_xls_pdf.swf')}}",
        									    "aButtons": [
																"copy","print",
																{
																	"sExtends":    "collection",
																	"sButtonText": "Enregistrer sous",
																	"aButtons":    [ "csv","xls", "pdf" ]
																}
															]
       										 }		
								});
                                                                
                                                                
				 
				  $('#DTutilisateurs tr').live('click',function(){
				  	if($(this).hasClass('row_selected'))
				  	{
				  		$(this).removeClass('row_selected');
				  	}
				  	else
				  	{  
				  		$('tr.row_selected').removeClass('row_selected');
				  		$(this).addClass('row_selected');
				  	}

				  });
                             var TableRoles = $('#DTrolef').dataTable({
			    	          
			    	          "sDom": '<"H"lfr>t<"F"ip>',
			    	          "bProcessing": true,
							  "sAjaxSource": "{{ path('Admin_liste_Roles') }}",
                                                          "bJQueryUI": true,
							  "sPaginationType": "full_numbers",
							  "oTableTools": {
                                                                                    "sRowSelect": "multi",
        									   
       										 }		
								});
                             $('#DTrolef tr').live('click',function(){
				  	if($(this).hasClass('row_selected'))
				  	{
				  		$(this).removeClass('row_selected');
				  	}
				  	else
				  	{  
				  		$('tr.row_selected').removeClass('row_selected');
				  		$(this).addClass('row_selected');
				  	}

				  });
        								 
					
				
				$('#ajouterFO').live('click',
					function(e){
					    var pseudo;
                                            var nom;
                                            var prenom;
                                            var email;
                                            var tel;
                                            var password;
                                            var idrole;
                                            
                                            var usersModal = $("#addBox").modal();
                                            var myform=new formtowizard({
                                                                        formid: 'addarticlesform',
                                                                        persistsection: false,
                                                                        revealfx: ['slide', 500],
                                                                         onpagechangestart:function($, i, $fieldset){
                                                                                                                var validated=true
                                                                                                                switch(i)
                                                                                                                {case 0:if($('input[name="addPseudo"]').val() == "" || $('input[name="addPassword"]').val()== "" || $('input[name="cPassword"]').val() == "")
                                                                                                                         validated = false;
                                                                                                                        else 
                                                                                                                            {
                                                                                                                                $('input[name="addPseudoV"]').val($('input[name="addPseudo"]').val());
                                                                                                                                pseudo = $('input[name="addPseudoV"]').val();
                                                                                                                                password = $('input[name="addPassword"]').val();
                                                                                                                               
                                                                                                                                
                                                                                                                                }
                                                                                                                        
                                                                                                                        break;
                                                                                                                 case 1: if($("input[name='addNom']").val() == "" || $("input[name='addPrenom']").val()== "" || $("input[name='addTel']").val() == "" || $("input[name='addEmail']").val() == "")
                                                                                                                        validated = false;
                                                                                                                        else
                                                                                                                            {
                                                                                                                                $('input[name="addNomV"]').val($('input[name="addNom"]').val());
                                                                                                                                nom = $('input[name="addNomV"]').val();
                                                                                                                                $('input[name="addPrenomV"]').val($('input[name="addPrenom"]').val());
                                                                                                                                prenom = $('input[name="addPrenomV"]').val();
                                                                                                                                $('input[name="addTelV"]').val($('input[name="addTel"]').val());
                                                                                                                                tel = $('input[name="addTelV"]').val();
                                                                                                                                $('input[name="addEmailV"]').val($('input[name="addEmail"]').val());
                                                                                                                                email = $('input[name="addEmailV"]').val();
                                                                                                                                
                                                                                                                                }
                                                                                                                     break;
                                                                                                                 case 2: if($('#DTrolef tr.row_selected').length != 0)
                                                                                                                         {
                                                                                                                             idrole =  $('#DTrolef tr.row_selected td:first').text();
                                                                                                                            
                                                                                                                             }
                                                                                                                             else
                                                                                                                                 validated = false;
                                                                                                                     break;
                                                                                                                 case 3: 
                                                                                                                     
                                                                                                                     break;
                                                                                                                 default : validated = false; break;
                                                                                                                    }
                                                                                                                /**var $els=$fieldset.find('input[type="text"], textarea') //get textbox and textarea elements
                                                                                                                $els.each(function(){ //loop thru these elements
                                                                                                                if ($(this).val()==""){ //if element is empty
                                                                                                                alert("Please fill out the field "+$(this).attr('id'))
                                                                                                                $(this).focus()
                                                                                                                validated=false
                                                                                                                return false //break out of each() loop
                                                                                                                }
                                                                                                                })**/
                                                                                                                return validated //if this variable returns false, user is prevented from going on to next form page
                                                                    e.prevetDefault();    }
                                                                   
                                                              });
                                                                      
                                      $('#addUser').live('click',function(){ 
                                                            usersModal.close();
                                                            $.ajax({
                                                            type: 'POST',
                                                            url: "{{ path('Admin_Ajout_Utilisateur') }}",
                                                            data: {
                                                                nom: nom,
                                                                prenom: prenom,
                                                                tel : tel,
                                                                email: email,
                                                                pseudo : pseudo,
                                                                password : password,
                                                                idrole : idrole// devrait être haché avant de l'envoyer!!!!

                                                            },
                                                            dataType : 'json',
                                                            success: function (data,status) {
                                                                if(data.status == "200")
                                                                    {
                                                                            $('#rqStatusFO').html(' <div class="notification success png_bg"><a href="#" class="close"><img src="images/icons/cross_grey_small.png" title="Close this notification" alt="close"></a><div><strong>Success </strong> : Le nouveau utilisateur a été correctement ajouté à la base de donnée.</div></div>');


                                                                myTable.fnAddData([
                                                                    data.info,
                                                                    pseudo,
                                                                    nom,
                                                                    prenom,
                                                                    email,
                                                                    tel,
                                                                    

                                                                ]);
                                                                }
                                                                else
                                                                {

                                                                    $('#rqStatusFO').html('<div class="notification error png_bg"><a href="#" class="close"><img src="images/icons/cross_grey_small.png" title="Close this notification" alt="close"></a><div><strong>Erreur </strong> : Une erreur est survenue lors de l\'ajout de l\'utilisateur veuillez ressayer. </div></div>')

                                                                }
                                                                return false;
                                                            },
                                                            error: function (jqHx,status) {
                                                                
                                                                return false;
                                                            }
									   
							    		
							    	
							    	
							    	
							    
							  });
                               
                                  
                                                                    });
				e.preventDefault();
                                                    
				
			});
			
			
			$('#supprimerFO').click(function(){
							selectedRow = myTable.$('tr.row_selected');
							
							
							if(selectedRow.length !== 0)
							{		
						            $.msgbox("êtes-vous sûr de vouloir supprimer cet utilisateur?", {
														type: "confirm",
													    
														buttons : [
													        {type: "submit", value: "Oui"},{type: "submit", value: "Non"}
															]},
													
													function(result) {
														if(result == "Oui")
														{
															id = $('#DTutilisateurs tr.row_selected td:first').text();
															$.ajax({
																url:"{{ path('Admin_delete_Utilisateur') }}",
																dataType:'json',
																type:'post',
																data : {
																	id:id
																	
																},
																success:function(data){
																	if(data.status == "200")
																	{
																		myTable.fnDeleteRow(selectedRow[0]);
																		$('#rqStatusFO').html(' <div class="notification success png_bg"><a href="#" class="close"><img src="images/icons/cross_grey_small.png" title="Close this notification" alt="close"></a><div><strong>Success </strong> : L\'utilisateur est définitivement supprimé de la base de donnée.</div></div>');
																		
																	}
																	else if(data.state == "error")
																	{
																		
										         					   	$('#rqStatusFO').html('<div class="notification error png_bg"><a href="#" class="close"><img src="images/icons/cross_grey_small.png" title="Close this notification" alt="close"></a><div><strong>Erreur </strong>'+ data.info +'</div></div>');
																	
																	}
																	
																},
																error:function(){
																	
																}
																
																
																
															});
															
															
															
															
														}
														else if(result =="Non" )
														{
															
															//$.msgbox("Votre demande de suppresion est annulée !",{type:info});
														}
														
														
														
													});
													
										}
										else
										{
											$.msgbox("Aucun utilisateurs n'est sélectionné pour la suppresion !");
										}
										
											
											
											
											
										});
										
				
			$('#modifierFO').live('click',function(e){ 
                        
					    var pseudo;
                                            var nom;
                                            var prenom;
                                            var email;
                                            var tel;
                                            var password;
                                            var id;
                                            
                                            id = $('#DTutilisateurs tr.row_selected td:first').text();
                                            pseudo  = $('#DTutilisateurs tr.row_selected td:eq(1)').text();
                                            nom = $('#DTutilisateurs tr.row_selected td:eq(2)').text();
                                            prenom = $('#DTutilisateurs tr.row_selected td:eq(3)').text();
                                            email = $('#DTutilisateurs tr.row_selected td:eq(4)').text();
                                            tel = $('#DTutilisateurs tr.row_selected td:eq(5)').text();
                                            
                                             
                                            var usersModModal = $("#modBox").modal();
                                           $('input[name="modPseudo"]').val(pseudo);
                                              $("input[name='modNom']").val(nom);
                                               $("input[name='modEmail']").val(email);
                                                $("input[name='modPrenom']").val(prenom);
                                                 $("input[name='modTel']").val(tel);
                                           var myform=new formtowizard({
                                                                        formid: 'modusersform',
                                                                        persistsection: false,
                                                                        revealfx: ['slide', 500],
                                                                         onpagechangestart:function($, i, $fieldset){
                                                                                                                var validated=true
                                                                                                                switch(i)
                                                                                                                {case 0:if($('input[name="modPseudo"]').val() == "" || $('input[name="modPassword"]').val()== "" || $('input[name="mcPassword"]').val() == "")
                                                                                                                         validated = false;
                                                                                                                        else 
                                                                                                                            {
                                                                                                                                
                                                                                                                                $('input[name="modPseudoV"]').val($('input[name="modPseudo"]').val());
                                                                                                                                pseudo = $('input[name="modPseudoV"]').val();
                                                                                                                                password = $('input[name="modPassword"]').val();
                                                                                                                               
                                                                                                                                
                                                                                                                                }
                                                                                                                        
                                                                                                                        break;
                                                                                                                 case 1: if($("input[name='modNom']").val() == "" || $("input[name='modPrenom']").val()== "" || $("input[name='modTel']").val() == "" || $("input[name='modEmail']").val() == "")
                                                                                                                        validated = false;
                                                                                                                        else
                                                                                                                            {
                                                                                                                                $('input[name="modNomV"]').val($('input[name="modNom"]').val());
                                                                                                                                nom = $('input[name="modNomV"]').val();
                                                                                                                                $('input[name="modPrenomV"]').val($('input[name="modPrenom"]').val());
                                                                                                                                prenom = $('input[name="modPrenomV"]').val();
                                                                                                                                $('input[name="modTelV"]').val($('input[name="modTel"]').val());
                                                                                                                                tel = $('input[name="modTelV"]').val();
                                                                                                                                $('input[name="modEmailV"]').val($('input[name="modEmail"]').val());
                                                                                                                                email = $('input[name="modEmailV"]').val();
                                                                                                                                
                                                                                                                                }
                                                                                                                     break;
                                                                                                               
                                                                                                                 case 2: 
                                                                                                                     
                                                                                                                     break;
                                                                                                                 default : validated = false; break;
                                                                                                                    }
                                                                                                                /**var $els=$fieldset.find('input[type="text"], textarea') //get textbox and textarea elements
                                                                                                                $els.each(function(){ //loop thru these elements
                                                                                                                if ($(this).val()==""){ //if element is empty
                                                                                                                alert("Please fill out the field "+$(this).attr('id'))
                                                                                                                $(this).focus()
                                                                                                                validated=false
                                                                                                                return false //break out of each() loop
                                                                                                                }
                                                                                                                })**/
                                                                                                                return validated //if this variable returns false, user is prevented from going on to next form page
                                                                       }});
                                                                      
                                      $('#modUser').live('click',function(){ 
                                                            usersModModal.close();
                                                            $.ajax({
                                                            type: 'POST',
                                                            url: "{{ path('Admin_modif_Utilisateur') }}",
                                                            data: {
                                                                id: id,
                                                                nom: nom,
                                                                prenom: prenom,
                                                                tel : tel,
                                                                email: email,
                                                                pseudo : pseudo,
                                                                password : password,
                                                                //idrole : idrole// devrait être haché avant de l'envoyer!!!!

                                                            },
                                                            dataType : 'json',
                                                            success: function (data,status) {
                                                                if(data.status == "200")
                                                                    {
                                                                            $('#rqStatusFO').html(' <div class="notification success png_bg"><a href="#" class="close"><img src="images/icons/cross_grey_small.png" title="Close this notification" alt="close"></a><div><strong>Success </strong> : L\' utilisateur a été correctement modifié.</div></div>');

                                                                $('#DTutilisateurs tr.row_selected td:eq(0)').text(data.info);
                                                                $('#DTutilisateurs tr.row_selected td:eq(1)').text(pseudo);
                                                                $('#DTutilisateurs tr.row_selected td:eq(2)').text(nom);
                                                                $('#DTutilisateurs tr.row_selected td:eq(3)').text(prenom);
                                                                $('#DTutilisateurs tr.row_selected td:eq(4)').text(email);
                                                                $('#DTutilisateurs tr.row_selected td:eq(5)').text(tel);
                                                               
                                                                 
                                                                }
                                                                else
                                                                {

                                                                    $('#rqStatusFO').html('<div class="notification error png_bg"><a href="#" class="close"><img src="images/icons/cross_grey_small.png" title="Close this notification" alt="close"></a><div><strong>Erreur </strong> : Une erreur est survenue lors de l\'ajout de l\'utilisateur veuillez ressayer. </div></div>')

                                                                }
                                                                return false;
                                                            },
                                                            error: function (jqHx,status) {
                                                               
                                                                return false;
                                                            }
									   
							    		
							    	
							    	
							    	
							    
							  });
                               
                                  
                                                                    });
				e.preventDefault();
                        
                                                                
                        
                        
                        
                        
                        
                        
                        
										});
                            });
			
	
		</script>
		
	
		<br/>
		
                {% if is_granted('ROLE_SUPER_ADMIN') %}
	    <a id="ajouterFO" class="button" href="#"><i class="icon-plus"></i>Ajouter</a>
            <a id="modifierFO" class="button" href="#"><i class="icon-edit"></i>Modifier</a>
            <a id="supprimerFO" class="button" href="#"><i class="icon-remove-sign"></i>Supprimer</a>
		{% endif %}
	
		
	</div>
   </div> 
</div>




{% endblock %}

{% block footer %}
 {{parent()}}
{% endblock %}