<html>
    <title>Ajout d'utilisateur</title>
    <header><h1>Entrer les informations de l'utilisateur</h1></header>
    
    <body>
    
    <div class="well">
    <form method="post">
    <!-- Les erreurs générales du formulaire. -->
{{ form_errors(form) }}

<div>
<!-- Génération du label. -->
{{ form_label(form.Nom, "Nom : ") }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!-- Génération de l'input. -->
{{ form_widget(form.Nom) }}
<!-- Affichage des erreurs pour ce champ précis. -->
{{ form_errors(form.Nom) }}
</div>

<div>
<!-- Génération du label. -->
{{ form_label(form.Prenom, "Prenom : ") }}&nbsp;&nbsp;
<!-- Génération de l'input. -->
{{ form_widget(form.Prenom) }}
<!-- Affichage des erreurs pour ce champ précis. -->
{{ form_errors(form.Prenom) }}
</div>

<div>
<!-- Génération du label. -->
{{ form_label(form.Gsm, "Gsm : ") }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!-- Génération de l'input. -->
{{ form_widget(form.Gsm) }}
<!-- Affichage des erreurs pour ce champ précis. -->
{{ form_errors(form.Gsm) }}
</div>

<div>
<!-- Génération du label. -->
{{ form_label(form.Mail, "Mail : ") }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!-- Génération de l'input. -->
{{ form_widget(form.Mail) }}
<!-- Affichage des erreurs pour ce champ précis. -->
{{ form_errors(form.Mail) }}
</div>

<div>
<!-- Génération du label. -->
{{ form_label(form.Grade, "Grade : ") }}&nbsp;&nbsp;&nbsp;&nbsp;
<!-- Génération de l'input. -->
{{ form_widget(form.Grade) }}
<!-- Affichage des erreurs pour ce champ précis. -->
{{ form_errors(form.Grade) }}
</div>


<div><br></div>


<div>
<!-- Génération du label. -->
{{ form_label(form.Login, "Login : ") }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!-- Génération de l'input. -->
{{ form_widget(form.Login) }}
<!-- Affichage des erreurs pour ce champ précis. -->
{{ form_errors(form.Login) }}
</div>


<div>
<!-- Génération du label. -->
{{ form_label(form.Password, "Password : ") }}
<!-- Génération de l'input. -->
{{ form_widget(form.Password) }}
<!-- Affichage des erreurs pour ce champ précis. -->
{{ form_errors(form.Password) }}
</div>

<!-- Génération des champs pas encore écrits.
Dans cet exemple, ça serait « date », « auteur » et « publication »
,m
ais aussi le champ CSRF (géré automatiquement par Symfony !)
et tous les champs cachés (type « hidden »). -->
{{ form_rest(form) }}


    <input type="submit" class="btn btn-primary" />
    </form>
    </body>
    
    <footer></footer>
</html>
