<html>
    <title>Confirmation d'ajout</title>
    <header><h2>Utilisateur "{{user.getLogin()}}" ajouté avec succès !</h2></header>
    
    <body>
    
    <h3>Nom : "{{user.getNom()}}" </h3>
    <h3>Prenom : "{{user.getPrenom()}}" </h3>
    <h3>Gsm :  "{{user.getGsm()}}" </h3>
    <h3>Mail : "{{user.getMail()}}" </h3>
    </body>
    
    <footer></footer>
</html>
