<html>
    <title>Confirmation d'ajout</title>
    <header><h1>{{user.getGrade()}} "{{user.getLogin()}}" ajouté avec succès !</h1></header>
    
    <body>
    ----------------------------------<br><br>
    Nom : "{{user.getNom()}}" <br><br>
    Prenom : "{{user.getPrenom()}}" <br><br>
    Gsm :  "{{user.getGsm()}}" <br><br>
    Mail : "{{user.getMail()}}" <br><br>
    ----------------------------------<br>
  
    </body>
    
    <footer></footer>
</html>
