<h1>Reponse</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Reponse_correcte</th>
            <td>{{ entity.Reponsecorrecte }}</td>
        </tr>
        <tr>
            <th>Reponse_possible</th>
            <td>{{ entity.Reponsepossible }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('Reponse') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('Reponse_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('Reponse_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
