{# right menu template #}
{% block rightmenu %}
<div id="right-menu">
              
              <div id="scrollbox">
              
              <form action="#" method="post" id="form-search">
                <input type="text" class="search" onblur="if(this.value==''){this.value='Search...'}" onfocus="if(this.value=='Search...'){this.value=''}" value="Search..." />
                <input type="submit" class="search-submit" value=" " />
	          </form>
              
              <div class="clear"></div>
              
              <input type="submit" class="common-button advanced-search" value="ADVANCED SEARCH" />
               
               <div class="clear"></div>
               
               <ul id="main-nav">  <!-- Accordion Menu -->
				
				
				<li>
                    <img src="{{ asset('bundles/racinegestionutilisateur/images/menu-arrow.png')}}" alt="Arrow" /> 
					<a href="#" class="nav-top-item current"> <!-- Add the class "current" to current menu item -->
					 Gestion Utilisateurs
                    </a>
 
			         <ul style="display: block;">
						<li><a href="{{path('Admin_liste_Utilisateur')}}">Lister les utilisteurs</a></li>
						<li><a href="#">valider un utilisateur</a></li> <!-- Add class "current" to sub menu items also -->
						
					 </ul>
				</li>
				
				<li>
                  <img src="{{ asset('bundles/racinegestionutilisateur/images/menu-arrow.png')}}" alt="Arrow" />
				  <a style="padding-right: 15px;" href="#" class="nav-top-item current">
						Gestion Candidat
				  </a>
                  
	          <ul style="display: none;">
						<li><a href="{{path('Admin_liste_Candidats')}}">Lister les candidats</a></li>
						<li><a href="#">Candidat en attente</a></li>
					</ul>
				</li>
				
				<li>
                  <img src="{{ asset('bundles/racinegestionutilisateur/images/menu-arrow.png')}}" alt="Arrow" />
				  <a href="{{ path('_listing_tests') }}" class="nav-top-item current">
						Gestion tests
				  </a>
				  <ul style="display: none;">
					        <li><a href="{{ path('_listing_tests') }}">Configurer test</a></li>
						<li><a href="{{ path('_listing_questions') }}">Ajouter Question<input type="button" class="common-button" value="View All" /></a></li>
						<li><a href="{{ path('_listing_themes') }}">Théme</a></li>
						
					</ul>
				</li>
				
				<li>
                    <img src="{{ asset('bundles/racinegestionutilisateur/images/menu-arrow.png') }}" alt="Arrow" />
					<a href="#" class="nav-top-item">
						Gestion résultat
					</a>
					<ul style="display: none;">
						<li><a href="#">Lister Résultat</a></li>
						
					</ul>
				</li>
				
				<li>
					<a style="padding-right: 15px;" href="#" class="nav-top-item no-submenu">
					 Menu without Sub menu
                    </a>
				</li>   
				
			</ul>
             <!-- Accordion Menu  END-->
             
            </div> 
             
         </div>
            <!-- RIGHT MENU END -->
 {% endblock %}
       
