{# empty Twig template #}

{% block TabsContenor %}

<div class="tabs-contenor">
       
       <div class="profile">
         <form action="http://infynitix.com/" target="_blank">
         <img src="{{ asset('bundles/racinegestionutilisateur/images/user.jpg')}}" alt="User" />
         <h2>{{ app.user.username }}</h2>
   



         <h4><a href="#">{% if is_granted('ROLE_SUPER_ADMIN') %}
  Superadmin
  {% elseif is_granted('ROLE_ADMIN')%}
  Admin
  {% elseif is_granted('ROLE_CANDIDAT')%}
  Candidat
  {% else %}
  pas de role
  
   {% endif %}<input type="submit" class="common-button" value="gestiontest.com" /></h4>
         <h4> </a> . <a href="#">Compte</a> . <a href="{% if is_granted('ROLE_ADMIN') %}{{ path('Admin_logout') }}{% elseif is_granted('ROLE_CANDIDAT') %} {{ path('Candidat_logout') }} {% endif%}">Logout<img src="{{ asset('bundles/racinegestionutilisateur/images/icons/login.jpg')}}" alt="login" /></a></h4>
         </form>      
       </div>
        
       <h3><a href="#">Tableau de bord</a> <img src="{{ asset('bundles/racinegestionutilisateur/images/icons/arrow.jpg')}}" alt="Arrow" /> <a href="#">Level2</a> <img src="{{ asset('bundles/racinegestionutilisateur/images/icons/arrow.jpg')}}" alt="Arrow" /> <a href="#">Level3</a></h3>
       <h1>Tableau de bord</h1>
       
  <div class="tabs_links">
                  <ul>
                    <li><a href="Utilisateurs">Utilisateurs</a></li>
                
           </ul>
       </div>
        </div>
       
    

{% endblock %}
